.card-prod {
    width: 18rem;
}

.img-prod {
    height: 20rem;
}

.titulosCard {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}
.texto{
    font-family: 'Rubik', sans-serif;
}

.cardStyle {

    box-shadow: 0px 0px 15px lightblue;
}


